@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
body {
	font-size: 16pt;
	background-color: mintcream;
	font-family:'Raleway', sans-serif;
	max-width: 900px;
	margin: auto;
}
h1 {
	font-size: 26pt;
	color: blue;
	text-decoration: bold;
	text-align: center;
	font-family: 'Roboto Slab';
	margin-top: 30px;
}
h2 {
	font-size: 20pt;
	color: royalblue;
	text-decoration: bold;
	margin-top: 40px;
}
ul,p {
	color: cornflowerblue;
}
h3 {
	font-size: 15pt;
}
ul ul {
	font-size: 14pt;
}
a {
	text-decoration: none;
	color: cornflowerblue;
}
li {
	margin-top: 10px;
}
#rec {
	list-style-type: none;
}
span {
	font-style: italic;
}
br {
	margin-bottom: 100pt;
}